@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



body{
    background: #040C10;
    color: white;
}

.cabecalhoPrincipal{
    background: #660d96;
    padding: 20px 0;
}

.container{
    width: 94%;
    margin: 0 auto;
    /*border: solid 1px red;*/
}

.cabecalhoPrincipal-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cabecalhoPrincipal-nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-right: 3%;
    border: solid 2px white;
    border-radius: 20px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

.cabecalhoPrincipal-nav a:hover{
    background: white;
    color: black;
    text-decoration: underline;
    border: solid 2px black;
}

.cabecalhoPrincipal-nav-img-container{
    display: flex;
    margin-right: 9%;
}
.cabecalhoPrincipal-nav-img-github{
    width: 60px;
}

.cabecalhoPrincipal-nav-img-github{
    margin-right: 15%;
    border-radius: 100px; 
}






.conteudoPrincipal{
    margin-top: 130px;
}

.conteudoPrincipal .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}
h2{
    margin-top: 15px;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.conteudoPrincipal-container-imagem{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.conteudoPrincipal-imagemTux{
    width: 300px;
    margin-top: 20px;

}



.conteudoPrincipal-container-botoes{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 40px;
}


.conteudoPrincipal-botao-linkedin{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 10px;
    background: #0077B7;
    color: white;
    font-size: 23px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    border-radius: 40px;
    width: 200px;
    border: 2px solid white;
}

.conteudoPrincipal-botao-linkedin:hover{
    background: #008bd5;
    text-decoration: underline;
}


.conteudoPrincipal-botao-github{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
    background: #202024;
    color: white;
    font-size: 23px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    border-radius: 40px;
    width: 200px;
    border: 2px solid white;
}

.conteudoPrincipal-botao-github:hover{
    background: #2f2f34;
    text-decoration: underline;
}


.conteudoPrincipal-botao-instagram{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
    background: #6e0070;
    color: white;
    font-size: 23px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    border-radius: 40px;
    width: 200px;
    border: 2px solid white;
}

.conteudoPrincipal-botao-github:hover{
    text-decoration: underline;
}






